 <img src="/images/home-background.jpg" alt="rss feed" id="flscn-bckground" />
 </div class="bs-docs-header"> 
      <div class="jumbotron">
        <div class="container">
          <img src="/images/blocitoff-logo-big.png" alt="rss feed" id="logo-big" />
          <p id="index-title">A to-do list app, that is actually doing something!</p>
        </div>
      </div>
</div>
