<% items.each do |item| %>
<li class="list-group-item">
     <span class="badge">
        <%= link_to "", [@user, item], method: :delete, class: 'glyphicon glyphicon-ok' %>
      </span> 
     <%= item.name %>
</li>
<% end %>
