<% items.each do |item| %>
<li class="list-group-item">
     <span class="badge">
        <%= link_to "", user_item_path(@user.id, item.id), method: :delete, remote: true, class: 'glyphicon glyphicon-ok' %>
      </span> 
     <%= item.name %> | <small><%= item.days_left %> days remaining</small>
</li>
<% end %>
