/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require morris
 */


 @import "bootstrap-sprockets";
 @import "bootstrap";

 .container {
  padding: auto;
}

.vote-arrows {
   width: 40px;
   text-align: center;
 }
 
.navbar-right {
  margin: 20px;
  color: white;
}

.navbar-brand {
 margin: 5px;
}

.navbar-nav {
 margin: 5px;
}

.btn-outline-inverse {
  color: #fff;
  background-color: transparent;
  border-color: #ffffff;
  line-height: 1.3333333;
  border-radius: 6px;

  }

.jumbotron {
  text-align: center;
  color: white;
  margin-top: -40px;
  padding-top: 120px;
  padding-bottom: 120px;
  background: rgba(255,255,255,.0);

}

.bs-docs-masthead {
  position: relative;
}

.jumbotron h1 {
  text-align: center;
  font-size: 110px;
  font-weight: lighter;
  letter-spacing: 10px;
}

.jumbotron p {
  font-size: 24px;
  font-weight: lighter;
  padding-top: 15px;
}

.favorite {
   margin-top: 20px;
 }

 .voted {
  opacity: 0.5;
}

.navbar-inverse {
  border-radius: 0px;
}


#bs-example-navbar-collapse-1 {
  color: white;
}

.navbar-brand {
  color: white;
}

#flscn-bckground {
  height: auto;
  left: 0px;
  position: fixed;
  top: 0px;
  z-index: -100;
  min-height: 100%;
  min-width: 1040px;

}

div#signin-details.form-horizontal {
  text-align: center;
}

form#new_user.new_user {
  width: 30%;
  display: block;
  margin-left: auto;
 margin-right: auto;
}

#signin-details {
  margin-top: 40px;
}

div#signin-btn.form-group {
  .btn.btn-default {
  width: 100%;
  background-color: transparent;
  color: white;
  border-width: 2px;
  border-color: #fff;
}
.btn.btn-default:hover {
  background-color: white;
  color: #010101;
}
}

.btn-primary a {
  color: white;
}

div#fb-button.btn.btn-primary {
  width: 33%;
  margin-bottom: 15px;
  text-align: center;
}

.divider {
  margin-top: 0px;
  width: 30%;
}

h1 {
  font-weight: lighter;
}

.navbar-header {
  margin-left: -115px;
}

div#forgot-password.form-group a {
  color: #59ba58;
}

div#forgot-password.form-group a:hover {
  color: white;
}

.alert-success {
  border-radius: 0px;
  margin-top: -20px;
}

.alert-warning {
  border-radius: 0px;
  margin-top: -20px;
}

